# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Gradle files
build/
.gradle/

# Compiled JAR files
*.jar

# Dependencies
/lib/

# IDE-specific files
*.iml
*.ipr
*.iws

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db